.feed {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $max-page-width;
    margin: 0 auto;
    align-items: space-between;
    justify-content: center;
}